@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <!-- Professor's Photo -->
        <div class="col-md-4 text-center">
            <img src="~/images/profile1.jpg" class="img-fluid" alt="Professor Profile Picture" />
        </div>

        <!-- Professor's Description -->
        <div class="col-md-8">
            <h3>Dr. Shwetha V.</h3>
            <p>
                Is a distinguished researcher and educator specializing in [Computer Vision].
                With years of expertise, they have contributed significantly to [Model Training]. This project,
                <strong>Dr.Shwetha DataSets</strong>, reflects their commitment to advancing knowledge in [ML Modeling].
            </p>
        </div>
    </div>
</div>
